table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 0.5em;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  
  td {
    text-align: left;
  }

  ul {
    position: inside;
    padding: 0;
    list-style-type: none;
  }

  main {
    text-align: left;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  