form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
form label {
    display: block;
    margin-bottom: 5px;
  }
  
form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
  }
  
form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }

  form button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  